
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Ubuntu:ital,wght@0,300;1,300;1,400&family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}
*{
    margin:0px;
    padding:0px;
}
nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul {
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color:black;
    color: white;

}
nav ul li{
    padding: 0 12px;
    margin: 22px 23px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
  
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;


}
.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(Dc8Syh.webp);

}
.Bottom{
    position: sticky;
    height: 80px;
    background-color: black;
   /* margin: 20px;*/
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
   
    
    
}
#progressbar{
    width: 80vh;
    cursor: pointer;
   
}
.icons{
   margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.icons i{
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color:white;
    width: 100%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    color: black;
   
}
.songItem img{
    width: 43px;
    margin:  0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px ;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.itemname{
    display: flex;
    justify-content: center;
    text-align: center;
}
.allsong{
    margin-top: 74px;
}
.songinfo{
    position: absolute;
    left:10vh;
    font-family: 'Varela Round',sans-serif;
}
.songinfo img{
    opacity: 0;
    transition:  opacity 1s ease-in;
}